[Unit]
Description=Install the Determinate Nix SELinux policy
ConditionSecurity=selinux
Before=purplefin-nix-seed.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/purplefin/install-determinate-nix-selinux-policy
RemainAfterExit=yes
