[Unit]
Description=Provision persistent Determinate Nix state
Requires=purplefin-nix-selinux.service
After=purplefin-nix-selinux.service
Before=nix.mount
RequiresMountsFor=/var/home

[Service]
Type=oneshot
ExecStart=/usr/libexec/purplefin/provision-determinate-nix
RemainAfterExit=yes
