[Unit]
Description=Configure Finite Home Manager on first graphical login
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/finite/home-first-login

[Install]
WantedBy=graphical-session.target
