# The Synaptics SVP7500 firmware can wedge across USB power transitions.
SUBSYSTEM=="usb", ATTRS{idVendor}=="06cb", ATTRS{idProduct}=="0701", ATTR{power/control}="on", ATTR{power/autosuspend_delay_ms}="-1"
